<h3>Dokumente</h3>
<table class="table">
  <tr *ngFor="let item of docs">
    <td><a href="../../../assets/docs/{{item.src}}">{{item.name}}</a></td><td><span class="badge">{{item.type}}</span></td>
  </tr>
</table>
<h3>Quittungen</h3>
<canvas id="c" width="500" height="500"></canvas>
<script type="text/javascript">
  var c = document.querySelector("#c");
  var ctx = c.getContext("2d");

  var image = new Image();

  image.onload = function () {
    console.log("Loaded image");
    // ctx.drawImage(image,0,0,c.width, c.height);

    ctx.fillRect(100, 100, 100, 100);
    ctx.strokeRect(50, 50, 50, 50);
    ctx.rotate(90);
  };

  image.src = "https://img-9gag-fun.9cache.com/photo/aLDrnXW_460s.jpg";
</script>
