<h2 class="row">Tombolaveranwaltung des STV Basadingen</h2>
<div *ngIf="(af.auth|async)">
  <div class="row" *ngFor="let user of user|async">
    <h3>Profil von {{user.username}} </h3>

    <h3>Aufgaben</h3>
    <div *ngFor="let item of abholen">
      <div class="row" *ngIf="item.verantwortlich === user.username">
        <div class="col-md-3">{{item.name}}</div>
        <div class="col-md-3">{{item.strasse}}</div>
        <div class="col-md-2">{{item.plz}}</div>
        <div class="col-md-3">{{item.ort}}</div>
        <div class="col-md-1"><span class="glyphicon glyphicon-info-sign"></span></div>
      </div>
    </div>
    <p>Ihnen sind zur Zeit keine Aufgaben zugeteilt</p>
    <h3>Abholen</h3>
    <p>Keine Abholung für Sie Offen</p>
  </div>
</div>
<h4 *ngIf="!(af.auth|async)">Sie sind nicht eingeloggt, bitte klicken Sie auf den Login-Button um sich einzuloggen.
  <app-login></app-login>
</h4>
