<h2 class="row">Tombolaveranwaltung des STV Basadingen</h2>
<div *ngIf="(af.auth|async)">
  <div class="row" *ngFor="let user of user|async">
    <h3>Profil von {{user.username}} </h3>

    <h3>Aufgaben</h3>
    <div *ngFor="let item of tasks">
      <div class="row">
        <div class="col-md-6">{{item.taskName}}</div>
        <div class="col-md-6">{{item.taskUser}}</div>
      </div>
    </div>
    <h3>Abholen</h3>
    <table class="table">
      <tr>
        <th>Sponsor</th>
        <th>Adresse</th>
        <th>PLZ</th>
        <th>Ort</th>
        <th>Regional</th>
      </tr>
      <tr *ngFor="let data of abholen">
        <td>{{data.sponsor}}</td>
        <td>{{data.strasse}}</td>
        <td>{{data.plz}}</td>
        <td>{{data.ort}}</td>
        <td><span class="glyphicon glyphicon-info-sign"></span></td>
      </tr>
    </table>
  </div>
</div>
<h4 *ngIf="!(af.auth|async)">Sie sind nicht eingeloggt, bitte klicken Sie auf den Login-Button um sich einzuloggen.
  <app-login></app-login>
</h4>
