<h2>Alle Aufgaben</h2>
<table class="table table-responsive">
  <tr>
    <th>Aufgabe</th>
    <th>Wer</th>
    <th></th>
  </tr>
  <tr *ngFor="let item of taskList|async">
    <td>{{item.taskName}}</td>
    <td>{{item.taskUser}}</td>
    <td><span class="glyphicon glyphicon-pencil"></span> <span class="glyphicon glyphicon-trash"></span></td>
  </tr>
</table>
<br>
<form [formGroup]="taskForm" (submit)="submitTask()">
  <div class="form-group">
    <label>Task:</label>
    <input type="text" formControlName="taskName" class="form-control">
  </div>
  <div class="form-group">
    <label>Wer</label>
    <input type="text" formControlName="taskUser" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary btn-block">Senden</button>
</form>
