<section class="row">
  <header class="col-xs-12">
      <ul class="nav nav-pills">
        <li routerLinkActive="active" *ngIf="!auth.authenticated()"><a (click)="auth.login()">Login</a></li>
        <li routerLinkActive="active" *ngIf="auth.authenticated()"><a (click)="auth.logout()" [routerLink]="'/logout'">Logout</a></li>
        <li routerLinkActive="active"><a [routerLink]="'/home'">Home</a></li>
        <li routerLinkActive="active" *ngIf="auth.authenticated()"><a [routerLink]="'/sponsorliste'">Sponsoren</a></li>
        <li routerLinkActive="active" *ngIf="auth.authenticated()"><a [routerLink]="'/inventar'">Inventar</a></li>
        <li routerLinkActive="active" *ngIf="auth.authenticated()"><a [routerLink]="['/abholen']">Abholliste</a></li>
        <li routerLinkActive="active" *ngIf="auth.authenticated()"><a [routerLink]="['/docs']">Dokumente</a></li>
        <li routerLinkActive="active" *ngIf="auth.authenticated()"><a [routerLink]="['/budget']">Budget</a></li>
      </ul>
  </header>
</section>

